/* basic elements */

h4.table-header {
  float: left;
  font-size: 120%;
  padding-top: 10px;
}

input[type=number] {
  width: 40px;
}

table {
  float: left; 
}

td {
  padding-left: 25px;
}

td, li, label, p, .table-header {
  font-size: 1.4em !important;
}

/* classes */

.control-group {
  margin-left: -70px;
}
.form-horizontal {
  width:250px;
  padding-bottom: 0;
  padding-left:20px;
  padding-right:20px;
}
.info-header {
  position: absolute;
  top: 10px;
}
.info-header li {
  line-height: 20px;
}
.invisible {
  visibility: hidden; 
}
.nav {
  position: absolute;
  top: 150px;
}
.plot {
  width: 800px;
  height: 250px;
}
.red {
  color: #cc0000;
}
.tab {
  position: absolute;
  width: 80%;
  left: 220px;
  top: 10px;
}
.table-header {
  font-weight: bold;
  padding-left: 0;
  padding-top: 10px;
}

/* ids */

#fanplot {
  float: right;
  width: 500px;
  height: 250px;
  margin-top: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-moz-outer-spin-button,
input::-moz-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}